@font-face {
    font-family: 'kanit';
    src: url('../Fonts/Kanit-Light.ttf') format(truetype);
}

@font-face {
    font-family: 'Kanit-italic';
    src: url('../Fonts/Kanit-Italic.ttf') format(truetype);
}

@font-face {
    font-family: 'kanit-semi-bold';
    src: url(../Fonts/Kanit-SemiBold.ttf) format(truetype);
}

@font-face {
    font-family: 'playfair';
    src: url(../Fonts/PlayfairDisplay-VariableFont_wght.ttf) format(truetype);
}

body {
    font-family: 'kanit', Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-family: 'playfair'; 
}

nav li {
    display: inline-block;
    padding: 0px 10px;
}

/*Links*/
a {
    text-decoration: none;
    color: aliceblue;
}

/*HEADER*/
.top_menu {
    display: flex;
    justify-content: right;
    text-decoration: none;
    text-decoration-color: aliceblue;
    background-color: #0A3440; 
    font-size: small;
}

.logo_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E6F5F9;
    padding: 5px;
}

.header_logo {
    max-width: 100px;
    max-height: 60px;
}

.logo_menu_li {
    text-decoration: none;
    color: #0A3440;
}

.search {
    max-width: 15px;
    max-height: 15px;
    background-color: white;
    padding: 5px 100px 5px 5px;
    border-radius: 5px;
}

.shopping_cart {
    max-width: 20px;
    max-height: 20px;
    margin-right: 20px;
}

/*Main*/
.Spring_collection {
    display: flex;
    justify-content: center;
    background-image: url(../images/pexels-atahan-demir-10920821.jpg);
    padding-top: 5px;
    background-position-y: center;
    background-position-x: left;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 45vh;
}

.Spring_collection h1 {
    color: #E6F5F9;
    font-weight: lighter;
    font-size: medium;
}

